= form_for @download do |f|
  - if @download.errors.any?
    #error_explanation
      %h2= "#{pluralize(@download.errors.count, "error")} prohibited this download from being saved:"
      %ul
        - @download.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :token
    = f.text_field :token
  .field
    = f.label :last_download_at
    = f.datetime_select :last_download_at
  .field
    = f.label :number_remaining
    = f.number_field :number_remaining
  .actions
    = f.submit 'Save'
