%section#index
  = render 'index'
  = render 'get_taper_cta'

%section#what
  = render 'what'
  .break

%section#how
  = render 'how'
  .break

%section#video
  = render 'video'

#footerCTA
  = render 'get_taper_cta'