%header#header
  %nav.navbar.navbar-default
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} 
        = image_tag "taper-logo.jpg", id: 'logo'
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "what", '/what'
        %li= link_to "how", '/how'
        %li= link_to "video", '/#video'
        %li= link_to "feedback & support", "javascript:void(0)", "data-uv-default-mode" => "support", "data-uv-forum-id" => "223172", "data-uv-lightbox" => "classic_widget", "data-uv-link-color" => "#007dbf", "data-uv-mode" => "full", "data-uv-primary-color" => "#cc6d00"
        %li
          %div.navbar-btn.get_taper
            %a.btn.btn-success.btn-sm{href: '#'}
              %span.icon.icon-download
              Download at Kickstarter


